USE [master]
GO
/****** Object:  Database [Pharmacy]    Script Date: 3/10/2020 10:34:28 PM ******/
CREATE DATABASE [Pharmacy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pharmacy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Pharmacy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pharmacy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Pharmacy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pharmacy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pharmacy]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Cat_ID] [int] NOT NULL,
	[Cat_Name] [nvarchar](30) NULL,
	[Cat_Status] [bit] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Cat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[City_ID] [int] NOT NULL,
	[City_Name] [nvarchar](30) NULL,
	[Country_ID] [int] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Info]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Info](
	[Com_Name] [nvarchar](30) NULL,
	[Com_Address] [nvarchar](30) NULL,
	[Com_Phone] [nvarchar](30) NULL,
	[Com_Logo] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Country_ID] [int] NOT NULL,
	[Country_Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Country_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Cu_ID] [int] NOT NULL,
	[Cu_Name] [nvarchar](30) NULL,
	[Cu_Address] [nvarchar](30) NULL,
	[Cu_Phone] [nvarchar](30) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Cu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpAndQty]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpAndQty](
	[Ex_ID] [int] NOT NULL,
	[Ex_Date] [datetime] NULL,
	[P_ID] [int] NULL,
	[Qty] [int] NULL,
	[Supplier_ID] [int] NULL,
 CONSTRAINT [PK_ExpAndQty] PRIMARY KEY CLUSTERED 
(
	[Ex_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[id] [bigint] NOT NULL,
	[UserName] [nvarchar](30) NULL,
	[Date] [datetime] NULL,
	[Operations] [nvarchar](60) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Per_ID] [int] NOT NULL,
	[Per_Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Per_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer_Company]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer_Company](
	[Com_ID] [int] NOT NULL,
	[Com_Name] [nvarchar](30) NULL,
	[Com_Notes] [nvarchar](100) NULL,
	[Com_Phone] [nvarchar](30) NULL,
	[Com_Address] [nvarchar](30) NULL,
	[Com_Status] [bit] NULL,
 CONSTRAINT [PK_Producer_Company] PRIMARY KEY CLUSTERED 
(
	[Com_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[P_ID] [int] NOT NULL,
	[P_Name] [nvarchar](50) NULL,
	[P_Description] [nvarchar](100) NULL,
	[buyPrice] [nvarchar](30) NULL,
	[sellPrice] [nvarchar](30) NULL,
	[Barcode] [nvarchar](50) NULL,
	[Cat_ID] [int] NULL,
	[Sn_ID] [int] NULL,
	[Com_ID] [int] NULL,
	[P_Filling] [int] NULL,
	[P_Filling_Price] [nvarchar](30) NULL,
	[P_active] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[Purchases_ID] [int] NOT NULL,
	[Purchases_Date] [datetime] NULL,
	[Supp_ID] [int] NULL,
	[Purchases_Notes] [nvarchar](100) NULL,
	[Purchases_User_Added] [nvarchar](30) NULL,
	[Purchases_Count] [int] NULL,
	[Purchases_Total_Discount] [int] NULL,
	[Purchases_Total_Paid] [nvarchar](50) NULL,
	[Purchases_Total_Residul] [nvarchar](50) NULL,
	[Purchases_Total_Amount] [nvarchar](50) NULL,
	[Purchases_Total] [nvarchar](50) NULL,
 CONSTRAINT [PK_Purchases] PRIMARY KEY CLUSTERED 
(
	[Purchases_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases_Details]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases_Details](
	[PurchasesDet_ID] [int] NOT NULL,
	[Purchases_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[PurchasesDet_Price] [nvarchar](30) NULL,
	[PurchasesDet_Qty] [int] NULL,
	[PurchasesDet_Total] [nvarchar](30) NULL,
	[PurchasesDet_Discount] [nvarchar](30) NULL,
	[PurchasesDet_Notes] [nvarchar](100) NULL,
	[PurchasesDet_ExpiredDate] [date] NULL,
 CONSTRAINT [PK_Purchases_Details] PRIMARY KEY CLUSTERED 
(
	[PurchasesDet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Sales_ID] [int] NOT NULL,
	[Sales_Date] [datetime] NULL,
	[Cust_ID] [int] NULL,
	[Sales_Notes] [nvarchar](100) NULL,
	[Sales_User_Added] [nvarchar](30) NULL,
	[Sales_Count] [int] NULL,
	[Sales_Total_Discount] [int] NULL,
	[Sales_Total_Paid] [nvarchar](50) NULL,
	[Sales_Total_Residul] [nvarchar](50) NULL,
	[Sales_Total_Amount] [nvarchar](50) NULL,
	[Sales_Total] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Sales_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Details]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Details](
	[SalesDet_ID] [int] NOT NULL,
	[Sales_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[SalesDet_Price] [nvarchar](30) NULL,
	[SalesDet_Qty] [int] NULL,
	[SalesDet_Total] [nvarchar](30) NULL,
	[SalesDet_Discount] [nvarchar](30) NULL,
	[SalesDet_Notes] [nvarchar](100) NULL,
 CONSTRAINT [PK_Sales_Details] PRIMARY KEY CLUSTERED 
(
	[SalesDet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sceintific_Name]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sceintific_Name](
	[Sn_ID] [int] NOT NULL,
	[Sn_Name] [nvarchar](50) NULL,
	[Sn_Status] [bit] NULL,
	[Sn_Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Sceintific_Name] PRIMARY KEY CLUSTERED 
(
	[Sn_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Su_ID] [int] NOT NULL,
	[Su_Name] [nvarchar](30) NULL,
	[Su_Phone] [nvarchar](30) NULL,
	[city_ID] [int] NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Su_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/10/2020 10:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[U_ID] [int] NOT NULL,
	[U_Name] [nvarchar](30) NULL,
	[U_Pass] [nvarchar](60) NULL,
	[U_Full_Name] [nvarchar](30) NULL,
	[Per_ID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Cat_ID], [Cat_Name], [Cat_Status]) VALUES (0, NULL, 1)
INSERT [dbo].[Categories] ([Cat_ID], [Cat_Name], [Cat_Status]) VALUES (1, N'Capsule', 1)
INSERT [dbo].[Categories] ([Cat_ID], [Cat_Name], [Cat_Status]) VALUES (2, N'tablets', 1)
INSERT [dbo].[Cities] ([City_ID], [City_Name], [Country_ID]) VALUES (1, N'duhok', 1)
INSERT [dbo].[Cities] ([City_ID], [City_Name], [Country_ID]) VALUES (2, N'hawler', 1)
INSERT [dbo].[Cities] ([City_ID], [City_Name], [Country_ID]) VALUES (3, N'slemani', 1)
INSERT [dbo].[Countries] ([Country_ID], [Country_Name]) VALUES (1, N'Kurdistan')
INSERT [dbo].[Countries] ([Country_ID], [Country_Name]) VALUES (2, N'Russia')
INSERT [dbo].[Countries] ([Country_ID], [Country_Name]) VALUES (3, N'America')
INSERT [dbo].[Customer] ([Cu_ID], [Cu_Name], [Cu_Address], [Cu_Phone]) VALUES (1, N'Cash', N'', N'')
INSERT [dbo].[Customer] ([Cu_ID], [Cu_Name], [Cu_Address], [Cu_Phone]) VALUES (2, N'kawar salman', N'duhok', N'')
INSERT [dbo].[Customer] ([Cu_ID], [Cu_Name], [Cu_Address], [Cu_Phone]) VALUES (3, N'Xorty', N'duhok', N'')
INSERT [dbo].[ExpAndQty] ([Ex_ID], [Ex_Date], [P_ID], [Qty], [Supplier_ID]) VALUES (2, CAST(N'2020-07-09T07:55:22.000' AS DateTime), 2, 4, 1)
INSERT [dbo].[ExpAndQty] ([Ex_ID], [Ex_Date], [P_ID], [Qty], [Supplier_ID]) VALUES (6, CAST(N'2020-03-05T15:08:15.000' AS DateTime), 4, 6, 3)
INSERT [dbo].[ExpAndQty] ([Ex_ID], [Ex_Date], [P_ID], [Qty], [Supplier_ID]) VALUES (7, CAST(N'2020-03-25T21:47:41.000' AS DateTime), 5, 3, 1)
INSERT [dbo].[Logs] ([id], [UserName], [Date], [Operations]) VALUES (1, N'root', CAST(N'2020-03-03T16:43:40.000' AS DateTime), N'Login')
INSERT [dbo].[Logs] ([id], [UserName], [Date], [Operations]) VALUES (2, N'root', CAST(N'2020-03-03T17:15:07.000' AS DateTime), N'Login')
INSERT [dbo].[Logs] ([id], [UserName], [Date], [Operations]) VALUES (3, N'root', CAST(N'2020-03-03T17:33:04.000' AS DateTime), N'Login')
GO
INSERT [dbo].[Permissions] ([Per_ID], [Per_Name]) VALUES (1, N'Admin')
INSERT [dbo].[Permissions] ([Per_ID], [Per_Name]) VALUES (2, N'User')
INSERT [dbo].[Permissions] ([Per_ID], [Per_Name]) VALUES (3, N'Cashier')
INSERT [dbo].[Producer_Company] ([Com_ID], [Com_Name], [Com_Notes], [Com_Phone], [Com_Address], [Com_Status]) VALUES (0, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Producer_Company] ([Com_ID], [Com_Name], [Com_Notes], [Com_Phone], [Com_Address], [Com_Status]) VALUES (1, N'Novo Nordisk A/S', N'', N'', N'Denmark', 1)
INSERT [dbo].[Producer_Company] ([Com_ID], [Com_Name], [Com_Notes], [Com_Phone], [Com_Address], [Com_Status]) VALUES (2, N'SHAGUL MED', N'', N'', N'Turkey', 1)
INSERT [dbo].[Products] ([P_ID], [P_Name], [P_Description], [buyPrice], [sellPrice], [Barcode], [Cat_ID], [Sn_ID], [Com_ID], [P_Filling], [P_Filling_Price], [P_active]) VALUES (1, N'Euthyrox 50', N'', N'5000', N'6000', N'42484842457996545', 2, 2, 3, 4, N'1500', 1)
INSERT [dbo].[Products] ([P_ID], [P_Name], [P_Description], [buyPrice], [sellPrice], [Barcode], [Cat_ID], [Sn_ID], [Com_ID], [P_Filling], [P_Filling_Price], [P_active]) VALUES (2, N'SIOFOR 850', N'', N'15000', N'18000', N'6212545745454784754', 2, 3, 4, 4, N'4500', 1)
INSERT [dbo].[Products] ([P_ID], [P_Name], [P_Description], [buyPrice], [sellPrice], [Barcode], [Cat_ID], [Sn_ID], [Com_ID], [P_Filling], [P_Filling_Price], [P_active]) VALUES (3, N'AwaZitro 500', N'', N'2500', N'3000', N'42156648575454578', 2, 4, 5, 3, N'1000', 1)
INSERT [dbo].[Purchases] ([Purchases_ID], [Purchases_Date], [Supp_ID], [Purchases_Notes], [Purchases_User_Added], [Purchases_Count], [Purchases_Total_Discount], [Purchases_Total_Paid], [Purchases_Total_Residul], [Purchases_Total_Amount], [Purchases_Total]) VALUES (1, CAST(N'2018-03-20T07:55:21.000' AS DateTime), 1, N'', N'admin admin', 2, 0, N'100000', N'44000', N'144000', N'144000')
INSERT [dbo].[Purchases] ([Purchases_ID], [Purchases_Date], [Supp_ID], [Purchases_Notes], [Purchases_User_Added], [Purchases_Count], [Purchases_Total_Discount], [Purchases_Total_Paid], [Purchases_Total_Residul], [Purchases_Total_Amount], [Purchases_Total]) VALUES (2, CAST(N'2018-03-20T07:56:24.000' AS DateTime), 6, N'', N'admin admin', 2, 0, N'95000', N'0', N'95000', N'95000')
INSERT [dbo].[Purchases] ([Purchases_ID], [Purchases_Date], [Supp_ID], [Purchases_Notes], [Purchases_User_Added], [Purchases_Count], [Purchases_Total_Discount], [Purchases_Total_Paid], [Purchases_Total_Residul], [Purchases_Total_Amount], [Purchases_Total]) VALUES (3, CAST(N'2018-03-20T07:57:31.000' AS DateTime), 3, N'', N'admin admin', 2, 0, N'34000', N'0', N'34000', N'34000')
INSERT [dbo].[Purchases_Details] ([PurchasesDet_ID], [Purchases_ID], [Product_ID], [PurchasesDet_Price], [PurchasesDet_Qty], [PurchasesDet_Total], [PurchasesDet_Discount], [PurchasesDet_Notes], [PurchasesDet_ExpiredDate]) VALUES (1, 1, 1, N'4000', 16, N'64000', N'0', N'', CAST(N'2020-06-16' AS Date))
INSERT [dbo].[Purchases_Details] ([PurchasesDet_ID], [Purchases_ID], [Product_ID], [PurchasesDet_Price], [PurchasesDet_Qty], [PurchasesDet_Total], [PurchasesDet_Discount], [PurchasesDet_Notes], [PurchasesDet_ExpiredDate]) VALUES (2, 1, 2, N'8000', 10, N'80000', N'0', N'', CAST(N'2020-07-09' AS Date))
INSERT [dbo].[Purchases_Details] ([PurchasesDet_ID], [Purchases_ID], [Product_ID], [PurchasesDet_Price], [PurchasesDet_Qty], [PurchasesDet_Total], [PurchasesDet_Discount], [PurchasesDet_Notes], [PurchasesDet_ExpiredDate]) VALUES (3, 2, 4, N'6000', 15, N'90000', N'0', N'', CAST(N'2021-07-13' AS Date))
INSERT [dbo].[Sales] ([Sales_ID], [Sales_Date], [Cust_ID], [Sales_Notes], [Sales_User_Added], [Sales_Count], [Sales_Total_Discount], [Sales_Total_Paid], [Sales_Total_Residul], [Sales_Total_Amount], [Sales_Total]) VALUES (1, CAST(N'2018-03-20T08:08:02.000' AS DateTime), 2, N'', N'root', 1, 0, N'0', N'22500', N'22500', N'22500')
INSERT [dbo].[Sales] ([Sales_ID], [Sales_Date], [Cust_ID], [Sales_Notes], [Sales_User_Added], [Sales_Count], [Sales_Total_Discount], [Sales_Total_Paid], [Sales_Total_Residul], [Sales_Total_Amount], [Sales_Total]) VALUES (2, CAST(N'2018-03-20T08:08:29.000' AS DateTime), 5, N'', N'root', 1, 0, N'20000', N'15000', N'35000', N'35000')
INSERT [dbo].[Sales] ([Sales_ID], [Sales_Date], [Cust_ID], [Sales_Notes], [Sales_User_Added], [Sales_Count], [Sales_Total_Discount], [Sales_Total_Paid], [Sales_Total_Residul], [Sales_Total_Amount], [Sales_Total]) VALUES (3, CAST(N'2018-03-20T08:08:47.000' AS DateTime), 3, N'', N'root', 1, 0, N'9000', N'0', N'9000', N'9000')
INSERT [dbo].[Sales_Details] ([SalesDet_ID], [Sales_ID], [Product_ID], [SalesDet_Price], [SalesDet_Qty], [SalesDet_Total], [SalesDet_Discount], [SalesDet_Notes]) VALUES (1, 1, 1, N'4500', 5, N'22500', N'0', N'')
INSERT [dbo].[Sales_Details] ([SalesDet_ID], [Sales_ID], [Product_ID], [SalesDet_Price], [SalesDet_Qty], [SalesDet_Total], [SalesDet_Discount], [SalesDet_Notes]) VALUES (2, 2, 4, N'7000', 5, N'35000', N'0', N'')
INSERT [dbo].[Sales_Details] ([SalesDet_ID], [Sales_ID], [Product_ID], [SalesDet_Price], [SalesDet_Qty], [SalesDet_Total], [SalesDet_Discount], [SalesDet_Notes]) VALUES (3, 3, 5, N'1500', 6, N'9000', N'0', N'')
INSERT [dbo].[Sceintific_Name] ([Sn_ID], [Sn_Name], [Sn_Status], [Sn_Description]) VALUES (0, NULL, 1, NULL)
INSERT [dbo].[Sceintific_Name] ([Sn_ID], [Sn_Name], [Sn_Status], [Sn_Description]) VALUES (1, N'Gllbenclamide 5 mg', 1, N'')
INSERT [dbo].[Sceintific_Name] ([Sn_ID], [Sn_Name], [Sn_Status], [Sn_Description]) VALUES (2, N'Levothyroxine sodium', 1, N'')
INSERT [dbo].[Suppliers] ([Su_ID], [Su_Name], [Su_Phone], [city_ID]) VALUES (1, N'Honar fahmi', N'', 1)
INSERT [dbo].[Suppliers] ([Su_ID], [Su_Name], [Su_Phone], [city_ID]) VALUES (2, N'milad sabah', N'', 2)
INSERT [dbo].[Suppliers] ([Su_ID], [Su_Name], [Su_Phone], [city_ID]) VALUES (3, N'abdullah', N'', 1)
INSERT [dbo].[Users] ([U_ID], [U_Name], [U_Pass], [U_Full_Name], [Per_ID]) VALUES (1, N'root', N'root', N'root', 1)
INSERT [dbo].[Users] ([U_ID], [U_Name], [U_Pass], [U_Full_Name], [Per_ID]) VALUES (2, N'user', N'user', N'user', 2)
INSERT [dbo].[Users] ([U_ID], [U_Name], [U_Pass], [U_Full_Name], [Per_ID]) VALUES (3, N'cashier', N'cashier', N'cashier', 3)
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([Country_ID])
REFERENCES [dbo].[Countries] ([Country_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[ExpAndQty]  WITH CHECK ADD  CONSTRAINT [FK_ExpAndQty_Products] FOREIGN KEY([P_ID])
REFERENCES [dbo].[Products] ([P_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpAndQty] CHECK CONSTRAINT [FK_ExpAndQty_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([Cat_ID])
REFERENCES [dbo].[Categories] ([Cat_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Producer_Company] FOREIGN KEY([Com_ID])
REFERENCES [dbo].[Producer_Company] ([Com_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Producer_Company]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sceintific_Name] FOREIGN KEY([Sn_ID])
REFERENCES [dbo].[Sceintific_Name] ([Sn_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sceintific_Name]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Suppliers] FOREIGN KEY([Supp_ID])
REFERENCES [dbo].[Suppliers] ([Su_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Suppliers]
GO
ALTER TABLE [dbo].[Purchases_Details]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Details_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([P_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchases_Details] CHECK CONSTRAINT [FK_Purchases_Details_Products]
GO
ALTER TABLE [dbo].[Purchases_Details]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Details_Purchases] FOREIGN KEY([Purchases_ID])
REFERENCES [dbo].[Purchases] ([Purchases_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchases_Details] CHECK CONSTRAINT [FK_Purchases_Details_Purchases]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Customer] FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[Customer] ([Cu_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Customer]
GO
ALTER TABLE [dbo].[Sales_Details]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Details_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([P_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales_Details] CHECK CONSTRAINT [FK_Sales_Details_Products]
GO
ALTER TABLE [dbo].[Sales_Details]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Details_Sales] FOREIGN KEY([Sales_ID])
REFERENCES [dbo].[Sales] ([Sales_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales_Details] CHECK CONSTRAINT [FK_Sales_Details_Sales]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Cities] FOREIGN KEY([city_ID])
REFERENCES [dbo].[Cities] ([City_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Cities]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Permissions] FOREIGN KEY([Per_ID])
REFERENCES [dbo].[Permissions] ([Per_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Permissions]
GO
/****** Object:  StoredProcedure [dbo].[Categories_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Categories_Add]
@name nvarchar(30),@status bit
as
insert into Categories(Cat_ID,Cat_Name,Cat_Status) values((select isnull(max(Cat_ID)+1,1) from Categories),@name,@status);
return
GO
/****** Object:  StoredProcedure [dbo].[Categories_ComboBox]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Categories_ComboBox]
as
Select Cat_ID as 'ID',
Cat_Name as 'Name',
Cat_Status as 'Status' from Categories where Cat_Status=1;
GO
/****** Object:  StoredProcedure [dbo].[Categories_delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Categories_delete]
@id int
as
delete from Categories where Cat_ID=@id;
return
GO
/****** Object:  StoredProcedure [dbo].[Categories_Select]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Categories_Select]
as
Select Cat_ID as 'ID',
Cat_Name as 'Name',
Cat_Status as 'Status' from Categories;
return
GO
/****** Object:  StoredProcedure [dbo].[Categories_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Categories_Update]
@name nvarchar(30),@status bit,@id int
as
update  Categories set Cat_Name=@name,Cat_Status=@status where Cat_ID=@id;
return
GO
/****** Object:  StoredProcedure [dbo].[Categories_Validate_Name]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Categories_Validate_Name]
@Name nvarchar(30)
as
select Cat_Name from Categories where Cat_Name=@Name;
GO
/****** Object:  StoredProcedure [dbo].[Cities_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Cities_Add]
@City nvarchar(30),@Country int
as
insert into Cities(City_ID,City_Name,Country_ID) values((select ISNULL(MAX(City_ID)+1,1) from Cities),@City,@Country);
GO
/****** Object:  StoredProcedure [dbo].[Cities_ComboBox]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Cities_ComboBox]
@id int
as
select City_ID as 'ID',
City_Name as 'City',
co.Country_Name as 'Country' from Cities c,Countries co 
where c.Country_ID=co.Country_ID and c.Country_ID=@id;
GO
/****** Object:  StoredProcedure [dbo].[Cities_delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Cities_delete]
@ID int
as
delete from Cities where City_ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[Cities_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Cities_Select_Search]
@name nvarchar(30)
as
if(@name='')
select City_ID as 'ID',
City_Name as 'City',
co.Country_Name as 'Country' from Cities c,Countries co where c.Country_ID=co.Country_ID;
else
select City_ID as 'ID',
City_Name as 'City',
co.Country_Name as 'Country' from Cities c,Countries co where c.Country_ID=co.Country_ID 
and c.City_Name like '%'+@name+'%';
GO
/****** Object:  StoredProcedure [dbo].[Cities_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Cities_Update]
@ID int,@City nvarchar(30),@Country int
as
update Cities set City_Name=@City,Country_ID=@Country where City_ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[company_Info_select]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[company_Info_select]
as
select * from Company_Info;
return
GO
/****** Object:  StoredProcedure [dbo].[company_Info_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[company_Info_Update]
@name nvarchar(30),@Address nvarchar(30),@Phone nvarchar(30),@Logo image
as
update Company_Info set Com_Name=@name,Com_Address=@Address,Com_Phone=@Phone,Com_Logo=@Logo;
return
GO
/****** Object:  StoredProcedure [dbo].[Countries_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Countries_Add]
@name nvarchar(30)
as
insert into Countries(Country_ID,Country_Name) values((select ISNULL(MAX(Country_ID)+1,1) from Countries),@name);
GO
/****** Object:  StoredProcedure [dbo].[Countries_delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Countries_delete]
@ID int
as
delete from Countries where Country_ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[Countries_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Countries_Select_Search]
@name nvarchar(30)
as
if(@name='')
select Country_ID as 'ID',
Country_Name as 'Name' from Countries;
else
select Country_ID as 'ID',
Country_Name as 'Name' from Countries where Country_Name like '%'+@name+'%';
GO
/****** Object:  StoredProcedure [dbo].[Countries_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Countries_Update]
@ID int,@name nvarchar(30)
as
update Countries set Country_Name=@name where Country_ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[Customer_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Customer_Add]
@name nvarchar(30),@address nvarchar(30),@phone nvarchar(30)
as
insert into Customer(Cu_ID,Cu_Name,Cu_Address,Cu_Phone) values((select ISNULL(MAX(Cu_ID)+1,1) from Customer),@name,@address,@phone);
GO
/****** Object:  StoredProcedure [dbo].[Customer_Delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Customer_Delete]
@ID int
as
delete from Customer where Cu_ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[Customer_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Customer_Select_Search]
@search nvarchar(30)
as
if(@search='')
select Cu_ID as 'ID',
Cu_Name as 'Name',
Cu_Address as 'Address',
Cu_Phone as 'Phone' from Customer;
else
select Cu_ID as 'ID',
Cu_Name as 'Name',
Cu_Address as 'Address',
Cu_Phone as 'Phone' from Customer where Cu_Name like '%'+@search+'%' or Cu_Address like '%'+@search+'%';
GO
/****** Object:  StoredProcedure [dbo].[Customer_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Customer_Update]
@ID int,@name nvarchar(30),@address nvarchar(30),@phone nvarchar(30)
as
update Customer set 
Cu_Name=@name,
Cu_Address=@address,
Cu_Phone=@phone where Cu_ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[Customer_Validate]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Customer_Validate]
@name nvarchar(30)
as
select * from Customer where Cu_Name=@name
GO
/****** Object:  StoredProcedure [dbo].[ExpAndQty_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ExpAndQty_Add]
@date datetime,@P_ID int,@Qty int,@Supplier_ID int
as
insert into ExpAndQty(Ex_ID,Ex_Date,P_ID,Qty,Supplier_ID) values((select ISNULL(MAX(Ex_ID)+1,1) from ExpAndQty),@date,@P_ID,@Qty,@Supplier_ID);
return
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Login]
@name nvarchar(30),@pass nvarchar(60)
as
select * from Users where U_Name=@name and U_Pass=@pass;
return
GO
/****** Object:  StoredProcedure [dbo].[Logs_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Logs_Add]
@name nvarchar(30),@date datetime,@operations nvarchar(60)
as
insert into Logs(id,UserName,[Date],Operations)
values((select ISNULL(MAX(id)+1,1) from Logs),@name,@date,@operations);
return
GO
/****** Object:  StoredProcedure [dbo].[Logs_Delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Logs_Delete]
@id bigint
as
delete from Logs where [id]=@id
return
GO
/****** Object:  StoredProcedure [dbo].[Logs_Select_Between]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Logs_Select_Between]
@first date,@last date
as
select * from Logs where convert(date,[Date])>=@first and convert(date,[Date])<=@last order by [Date] desc;
return
GO
/****** Object:  StoredProcedure [dbo].[Logs_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Logs_Select_Search]
@Search nvarchar(60)
as
select * from Logs where UserName+Operations like '%'+@Search+'%' order by [Date] desc;
return
GO
/****** Object:  StoredProcedure [dbo].[Logs_Select_Today]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Logs_Select_Today]
@date date
as
select * from Logs where convert(date,[Date]) = @date order by [Date] desc
return
GO
/****** Object:  StoredProcedure [dbo].[Permissions_Select]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Permissions_Select]
as
select * from [Permissions]
return
GO
/****** Object:  StoredProcedure [dbo].[Producer_Company_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Producer_Company_Add]
@Name nvarchar(30),@Notes nvarchar(100),@Phone nvarchar(30),@Address nvarchar(30),@Satus bit
as
insert into Producer_Company(Com_ID,Com_Name,Com_Address,Com_Notes,Com_Phone,Com_Status) values((select ISNULL(MAX(Com_ID)+1,1) from Producer_Company),@Name,@Address,@Notes,@Phone,@Satus);
return
GO
/****** Object:  StoredProcedure [dbo].[Producer_Company_ComboBox]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Producer_Company_ComboBox]
as
Select Com_ID as 'ID',
Com_Name as 'Name',
Com_Address as 'Address',
Com_Phone as 'Phone',
Com_Notes as 'Description',
Com_Status as 'Status' from Producer_Company where Com_Status=1;
GO
/****** Object:  StoredProcedure [dbo].[Producer_Company_Delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Producer_Company_Delete]
@ID int
as
Delete from Producer_Company where Com_ID=@ID;
return
GO
/****** Object:  StoredProcedure [dbo].[Producer_Company_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Producer_Company_Select_Search]
@Search nvarchar(30)
as
if(@Search='')

Select Com_ID as 'ID',
Com_Name as 'Name',
Com_Address as 'Address',
Com_Phone as 'Phone',
Com_Notes as 'Description',
Com_Status as 'Status' from Producer_Company;

else
Select Com_ID as 'ID',
Com_Name as 'Name',
Com_Address as 'Address',
Com_Phone as 'Phone',
Com_Notes as 'Description',
Com_Status as 'Status' from Producer_Company 
where Com_Name like '%'+@Search+'%' 
or Com_Address like '%'+@Search+'%' 
or Com_Phone like '%'+@Search+'%';  
return
GO
/****** Object:  StoredProcedure [dbo].[Producer_Company_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Producer_Company_Update]
@id int,@Name nvarchar(30),@Notes nvarchar(100),@Phone nvarchar(30),@Address nvarchar(30),@Satus bit
as
update Producer_Company set Com_Name=@Name,Com_Notes=@Notes,Com_Address=@Address,Com_Phone=@Phone,Com_Status=@Satus where Com_ID=@id;
return
GO
/****** Object:  StoredProcedure [dbo].[Producer_Company_Validate]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Producer_Company_Validate]
@Name nvarchar(30),@Phone nvarchar(30)
as
select Com_Name,Com_Phone from Producer_Company where Com_Name=@Name and Com_Phone=@Phone;
GO
/****** Object:  StoredProcedure [dbo].[products_add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[products_add]
@name nvarchar(50),@description nvarchar(100),@buyprice nvarchar(30),@sellprice nvarchar(30),@barcode nvarchar(50),@cat int,@sn int,
@com int,@filling int,@filling_price nvarchar(30),@active bit
as 
          INSERT INTO Products 
           ([P_ID]
           ,[P_Name]
           ,[P_Description]
           ,[buyPrice]
           ,[sellPrice]
           ,[Barcode]
           ,[Cat_ID]
           ,[Sn_ID]
           ,[Com_ID]
           ,[P_Filling]
           ,[P_Filling_Price]
           ,[P_active])
 VALUES
     
			((select ISNULL(MAX(P_ID)+1,1) from Products)
		   ,@name
           ,@description
           ,@buyprice
           ,@sellprice
           ,@barcode
           ,@cat
           ,@sn
           ,@com 
          ,@filling
          ,@filling_price
          ,@active)


GO
/****** Object:  StoredProcedure [dbo].[Products_Delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Products_Delete]
@id int
as
delete from Products where P_ID=@id
return
GO
/****** Object:  StoredProcedure [dbo].[Products_Select_Cashier]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Products_Select_Cashier]
as
SELECT [P_ID] as 'ID'
	  ,[P_Name] as 'Name'
	  ,[Barcode] as 'Barcode'
      ,[buyPrice] as 'Buy Price'
      ,[sellPrice] as 'Sell Price'
      ,[P_Filling] as 'Filling'
      ,[P_Filling_Price] as 'Filling Price'
      ,c.Cat_Name as 'Categories'
      ,s.Sn_Name as 'Scientfic Name'
      ,pc.Com_Name as 'Producer Company'
      ,[P_Description] as 'Description'
      ,[P_active] as 'State'
      
  FROM Products p,Categories c,Sceintific_Name s,Producer_Company pc
where p.Cat_ID=c.Cat_ID and p.Com_ID=pc.Com_ID and p.Sn_ID=s.Sn_ID and P_active=1
GO
/****** Object:  StoredProcedure [dbo].[Products_Select_Id]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Products_Select_Id]
@id int
as
SELECT [P_ID] as 'ID'
	  ,[P_Name] as 'Name'
	  ,[Barcode] as 'Barcode'
      ,[buyPrice] as 'Buy Price'
      ,[sellPrice] as 'Sell Price'
      ,[P_Filling] as 'Filling'
      ,[P_Filling_Price] as 'Filling Price'
      ,c.Cat_Name as 'Categories'
      ,s.Sn_Name as 'Scientfic Name'
      ,pc.Com_Name as 'Producer Company'
      ,[P_Description] as 'Description'
      ,[P_active] as 'State'
      
  FROM Products p,Categories c,Sceintific_Name s,Producer_Company pc
where p.Cat_ID=c.Cat_ID and p.Com_ID=pc.Com_ID and p.Sn_ID=s.Sn_ID and P_ID=@id;
GO
/****** Object:  StoredProcedure [dbo].[Products_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Products_Select_Search]	
@Search nvarchar(50)
as
if(@Search='')
SELECT [P_ID] as 'ID'
	  ,[P_Name] as 'Name'
	  ,[Barcode] as 'Barcode'
      ,[buyPrice] as 'Buy Price'
      ,[sellPrice] as 'Sell Price'
      ,[P_Filling] as 'Fill'
      ,[P_Filling_Price] as 'Fill Price'
      ,c.Cat_Name as 'Categories'
      ,s.Sn_Name as 'Scientfic Name'
      ,pc.Com_Name as 'Producer Company'
      ,[P_Description] as 'Description'
      ,[P_active] as 'State'
      
  FROM Products p,Categories c,Sceintific_Name s,Producer_Company pc
where p.Cat_ID=c.Cat_ID and p.Com_ID=pc.Com_ID and p.Sn_ID=s.Sn_ID
else
SELECT [P_ID] as 'ID'
	  ,[P_Name] as 'Name'
	  ,[Barcode] as 'Barcode'
      ,[buyPrice] as 'Buy Price'
      ,[sellPrice] as 'Sell Price'
      ,[P_Filling] as 'Fill'
      ,[P_Filling_Price] as 'Fill Price'
      ,c.Cat_Name as 'Categories'
      ,s.Sn_Name as 'Scientfic Name'
      ,pc.Com_Name as 'Producer Company'
      ,[P_Description] as 'Description'
      ,[P_active] as 'State'
  FROM Products p,Categories c,Sceintific_Name s,Producer_Company pc
where p.Cat_ID=c.Cat_ID and p.Com_ID=pc.Com_ID and p.Sn_ID=s.Sn_ID
and P_Name+P_Description+Barcode+c.Cat_Name+s.Sn_Name+pc.Com_Name Like  '%'+@Search+'%'
return

GO
/****** Object:  StoredProcedure [dbo].[products_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[products_Update]
@id int,@name nvarchar(50),@description nvarchar(100),@buyprice nvarchar(30),@sellprice nvarchar(30),@barcode nvarchar(50),@cat_id int,
@sn_id int,@com_id int,@p_filling int,@p_filling_price nvarchar(30),@active bit
as

 UPDATE Products
   SET [P_Name] = @name
      ,[P_Description] = @description
      ,[buyPrice] = @buyprice
      ,[sellPrice] =@sellprice
      ,[Barcode] = @barcode
      ,[Cat_ID] = @cat_id
      ,[Sn_ID] =@sn_id
      ,[Com_ID] = @com_id
      ,[P_Filling] = @p_filling
      ,[P_Filling_Price] = @p_filling_price
      ,[P_active]=@active
 WHERE P_ID=@id
return


	
GO
/****** Object:  StoredProcedure [dbo].[products_UpdatePrice]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[products_UpdatePrice]
@id int,@buyprice nvarchar(30),@sellprice nvarchar(30),@p_filling int,@p_filling_price nvarchar(30)
as

 UPDATE Products
   SET [buyPrice] = @buyprice
      ,[sellPrice] =@sellprice
      ,[P_Filling] = @p_filling
      ,[P_Filling_Price] = @p_filling_price
 WHERE P_ID=@id
GO
/****** Object:  StoredProcedure [dbo].[Products_Validate_Barcode]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Products_Validate_Barcode]
@barcode nvarchar(50)
as
select Barcode from Products where Barcode=@barcode;
GO
/****** Object:  StoredProcedure [dbo].[Purchases_Details_Insert]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Purchases_Details_Insert]
@Purchases_ID int,@Product_ID int,@Price nvarchar(30),@Qty int,@Total nvarchar(30),
@Discount nvarchar(30),@Notes nvarchar(100),@ExpiredDate date
as
insert into Purchases_Details(PurchasesDet_ID,Purchases_ID,Product_ID,PurchasesDet_Price,PurchasesDet_Qty,PurchasesDet_Total,PurchasesDet_Discount,PurchasesDet_Notes,PurchasesDet_ExpiredDate)
values((select ISNULL(MAX(PurchasesDet_ID)+1,1) from Purchases_Details),@Purchases_ID,@Product_ID,@Price,@Qty,@Total,@Discount,@Notes,@ExpiredDate);
return
GO
/****** Object:  StoredProcedure [dbo].[Purchases_Details_Select]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Purchases_Details_Select]
@ID int
as
SELECT [PurchasesDet_ID] as 'ID'
      ,[Purchases_ID] as 'Purchase ID'
      ,p.P_Name as 'Product'
      ,[PurchasesDet_Price] as 'Price'
      ,[PurchasesDet_Qty] as 'Qty'
      ,[PurchasesDet_Total] as 'Total'
      ,[PurchasesDet_Discount] as 'Discount'
      ,[PurchasesDet_Notes] as 'Note'
      ,[PurchasesDet_ExpiredDate] as 'ExpiredDate'
  FROM Purchases_Details pd,Products p where pd.Product_ID=p.P_ID and pd.Purchases_ID=@ID


GO
/****** Object:  StoredProcedure [dbo].[Purchases_Insert]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Purchases_Insert]
@Date datetime,@Supp_ID int,@Notes nvarchar(100),@User_Added nvarchar(30),@Count int,@Discount int,
@Paid nvarchar(50),@Residul nvarchar(50),@Amount nvarchar(50),@Total nvarchar(50)
as
INSERT INTO Purchases
           ([Purchases_ID]
           ,[Purchases_Date]
           ,[Supp_ID]
           ,[Purchases_Notes]
           ,[Purchases_User_Added]
           ,[Purchases_Count]
           ,[Purchases_Total_Discount]
           ,[Purchases_Total_Paid]
           ,[Purchases_Total_Residul]
           ,[Purchases_Total_Amount]
           ,[Purchases_Total])
     VALUES
           ((select ISNULL(MAX(Purchases_ID)+1,1) from Purchases)
           ,@Date
           ,@Supp_ID
           ,@Notes
           ,@User_Added
           ,@Count
           ,@Discount
           ,@Paid
           ,@Residul
           ,@Amount
           ,@Total);
return

GO
/****** Object:  StoredProcedure [dbo].[Purchases_Loan_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Purchases_Loan_Update]
@id int,@Paid nvarchar(50),@Residul nvarchar(50),@Note nvarchar(100)
as
update Purchases set Purchases_Total_Residul=@Residul,Purchases_Total_Paid=@Paid,Purchases_Notes=@Note where Purchases_ID=@id;
return
GO
/****** Object:  StoredProcedure [dbo].[Purchases_Select_Date]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Purchases_Select_Date]
@first date,@secound date
as
select Purchases_ID as 'ID',
Purchases_Date as 'Date',
s.Su_Name as 'Supplier',
p.Purchases_User_Added as 'User',
p.Purchases_Count as 'Count',
p.Purchases_Total as 'Total',
p.Purchases_Total_Discount as 'Discount',
p.Purchases_Total_Amount as 'amount',
p.Purchases_Total_Paid as 'Paid',
p.Purchases_Total_Residul as 'Residul',
p.Purchases_Notes as 'Notes'
 from Purchases p,Suppliers s 
 where  p.Supp_ID=s.Su_ID and
 convert(date,Purchases_Date)>=@first And convert(date,Purchases_Date)<=@secound order by Purchases_Date desc
GO
/****** Object:  StoredProcedure [dbo].[Purchases_Select_Dateofnow]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Purchases_Select_Dateofnow]
@date date
as
select Purchases_ID as 'ID',
Purchases_Date as 'Date',
s.Su_Name as 'Supplier',
p.Purchases_User_Added as 'User',
p.Purchases_Count as 'Count',
p.Purchases_Total as 'Total',
p.Purchases_Total_Discount as 'Discount',
p.Purchases_Total_Amount as 'amount',
p.Purchases_Total_Paid as 'Paid',
p.Purchases_Total_Residul as 'Residul',
p.Purchases_Notes as 'Notes'
from Purchases p,Suppliers s 
where  p.Supp_ID=s.Su_ID and convert(date,Purchases_Date) = @date order by Purchases_Date desc;
 
return
GO
/****** Object:  StoredProcedure [dbo].[Purchases_Select_ID]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Purchases_Select_ID]
@ID int
as
select Purchases_ID as 'ID',
Purchases_Date as 'Date',
s.Su_Name as 'Supplier',
p.Purchases_User_Added as 'User',
p.Purchases_Count as 'Count',
p.Purchases_Total as 'Total',
p.Purchases_Total_Discount as 'Discount',
p.Purchases_Total_Amount as 'amount',
p.Purchases_Total_Paid as 'Paid',
p.Purchases_Total_Residul as 'Residul',
p.Purchases_Notes as 'Notes'
 from Purchases p,Suppliers s 
where p.Supp_ID=s.Su_ID and Purchases_ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[Purchases_Select_Loan]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Purchases_Select_Loan]
as
select Purchases_ID as 'ID',
s.Su_Name as 'Supplier',
Purchases_Date as 'Date',
p.Purchases_Notes as 'Notes',
p.Purchases_Total_Paid as 'Paid',
p.Purchases_Total_Residul as 'Residul',
p.Purchases_Total_Amount as 'amount'
 from Purchases p,Suppliers s 
where p.Supp_ID=s.Su_ID and Purchases_Total_Residul!=0 order by Purchases_Date desc;
GO
/****** Object:  StoredProcedure [dbo].[Purchases_Select_Loan_With_Supplier]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Purchases_Select_Loan_With_Supplier]
@id int
as
select Purchases_ID as 'ID',
s.Su_Name as 'Supplier',
Purchases_Date as 'Date',
p.Purchases_Notes as 'Notes',
p.Purchases_Total_Paid as 'Paid',
p.Purchases_Total_Residul as 'Residul',
p.Purchases_Total_Amount as 'amount'
 from Purchases p,Suppliers s 
where p.Supp_ID=s.Su_ID and Purchases_Total_Residul!=0 and s.Su_ID=@id order by Purchases_Date desc;
GO
/****** Object:  StoredProcedure [dbo].[Purchases_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Purchases_Select_Search]
@search nvarchar(50)
as
if(@search='')
select Purchases_ID as 'ID',
Purchases_Date as 'Date',
s.Su_Name as 'Supplier',
p.Purchases_User_Added as 'User',
p.Purchases_Count as 'Count',
p.Purchases_Total as 'Total',
p.Purchases_Total_Discount as 'Discount',
p.Purchases_Total_Amount as 'amount',
p.Purchases_Total_Paid as 'Paid',
p.Purchases_Total_Residul as 'Residul',
p.Purchases_Notes as 'Notes'
 from Purchases p,Suppliers s 
where p.Supp_ID=s.Su_ID order by Purchases_Date desc;
else
select Purchases_ID as 'ID',
Purchases_Date as 'Date',
s.Su_Name as 'Supplier',
p.Purchases_User_Added as 'User',
p.Purchases_Count as 'Count',
p.Purchases_Total as 'Total',
p.Purchases_Total_Discount as 'Discount',
p.Purchases_Total_Amount as 'amount',
p.Purchases_Total_Paid as 'Paid',
p.Purchases_Total_Residul as 'Residul',
p.Purchases_Notes as 'Notes'
 from Purchases p,Suppliers s 
where p.Supp_ID=s.Su_ID and 
CONVERT(nvarchar,convert(date,Purchases_Date))+s.Su_Name+Purchases_User_Added+Convert(nvarchar,Purchases_Total_Discount)
+Purchases_Total_Paid+Purchases_Total_Residul+Purchases_Total_Amount like '%'+@search+'%' order by Purchases_Date desc;
GO
/****** Object:  StoredProcedure [dbo].[Sales_Delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Sales_Delete]
as
delete from Sales where Sales_Count=0
GO
/****** Object:  StoredProcedure [dbo].[Sales_Details_Insert]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sales_Details_Insert]
@Sales_ID int,@Product_ID int,@Price nvarchar(30),@Qty int,@Total nvarchar(30),
@Discount nvarchar(30),@Notes nvarchar(100)
as
insert into Sales_Details(SalesDet_ID,Sales_ID,Product_ID,SalesDet_Price,SalesDet_Qty,SalesDet_Total,SalesDet_Discount,SalesDet_Notes)
values((select ISNULL(MAX(SalesDet_ID)+1,1) from Sales_Details),@Sales_ID,@Product_ID,@Price,@Qty,@Total,@Discount,@Notes);

--declare @product cursor
--set @product= cursor for (select Product_ID,SalesDet_Qty from Sales_Details where Product_ID=@Product_ID)
--open @product
--declare @P_ID int,@Qt varchar(50)
--fetch @product into @P_ID,@Qt
--while @@FETCH_STATUS=0
--begin

declare @expired cursor
set @expired=cursor for select Ex_Date,Qty from ExpAndQty where P_ID=@Product_ID
and convert(float,Qty)>0
order by Ex_Date

open @expired

declare @ex_Date datetime,@ex_Qty int

fetch @expired into @ex_Date,@ex_Qty
while @@FETCH_STATUS=0
begin
if(CONVERT(float,@Qty)<=CONVERT(float,@ex_Qty))
begin
update ExpAndQty set Qty=CONVERT(int,Qty)-CONVERT(int,@Qty)
where P_ID=@Product_ID and Ex_Date=@ex_Date

break

end

else
begin

update ExpAndQty set Qty=0 where P_ID=@Product_ID and Ex_Date=@ex_Date
set @Qty=CONVERT(int,@Qty)-CONVERT(int,@ex_Qty)
end
fetch @expired into @ex_Date,@ex_Qty
end


return
GO
/****** Object:  StoredProcedure [dbo].[Sales_Details_Select_ID]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Sales_Details_Select_ID]
@ID int
as
SELECT [SalesDet_ID] as 'ID'
      ,[Sales_ID] as 'Sales_ID'
      ,p.P_Name as 'Product'
      ,[SalesDet_Price] as 'Price'
      ,[SalesDet_Qty] as 'Qty'
      ,[SalesDet_Total] as 'Total'
      ,[SalesDet_Discount] as 'Discount'
      ,[SalesDet_Notes] as 'Note'
  FROM [Sales_Details] sd,Products p
  where sd.Product_ID=p.P_ID and sd.Sales_ID=@ID


GO
/****** Object:  StoredProcedure [dbo].[Sales_Insert]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Sales_Insert]
@Date datetime,@Cust_ID int,@Notes nvarchar(100),@User_Added nvarchar(30),@Count int,@Discount int,
@Paid nvarchar(50),@Residul nvarchar(50),@Amount nvarchar(50),@Total nvarchar(50)
as
INSERT INTO Sales
           ([Sales_ID]
           ,[Sales_Date]
           ,[Cust_ID]
           ,[Sales_Notes]
           ,[Sales_User_Added]
           ,[Sales_Count]
           ,[Sales_Total_Discount]
           ,[Sales_Total_Paid]
           ,[Sales_Total_Residul]
           ,[Sales_Total_Amount]
           ,[Sales_Total])
     VALUES
           ((select ISNULL(MAX(Sales_ID)+1,1) from Sales)
           ,@Date
           ,@Cust_ID
           ,@Notes
           ,@User_Added
           ,@Count
           ,@Discount
           ,@Paid
           ,@Residul
           ,@Amount
           ,@Total)



GO
/****** Object:  StoredProcedure [dbo].[Sales_Loan_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Sales_Loan_Update]
@id int,@Paid nvarchar(50),@Residul nvarchar(50),@Note nvarchar(100)
as
update Sales set Sales_Total_Paid=@Paid,Sales_Total_Residul=@Residul,Sales_Notes=@Note where Sales_ID=@id;
GO
/****** Object:  StoredProcedure [dbo].[Sales_Select_Date]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sales_Select_Date]
@first date,@secound date
as
select Sales_ID as 'ID',
Sales_Date as 'Date',
c.Cu_Name as 'Customer',
s.Sales_User_Added as 'User',
s.Sales_Count as 'Count',
s.Sales_Total as 'Total',
s.Sales_Total_Discount as 'Discount',
s.Sales_Total_Amount as 'amount',
s.Sales_Total_Paid as 'Paid',
s.Sales_Total_Residul as 'Residul',
s.Sales_Notes as 'Notes'
 from Sales s,Customer c 
where s.Cust_ID=c.Cu_ID and
convert(date,Sales_Date)>=@first And convert(date,Sales_Date)<=@secound order by Sales_Date desc;
GO
/****** Object:  StoredProcedure [dbo].[Sales_Select_ID]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Sales_Select_ID]
@ID int
as
select Sales_ID as 'ID',
Sales_Date as 'Date',
c.Cu_Name as 'Customer',
s.Sales_User_Added as 'User',
s.Sales_Count as 'Count',
s.Sales_Total as 'Total',
s.Sales_Total_Discount as 'Discount',
s.Sales_Total_Amount as 'amount',
s.Sales_Total_Paid as 'Paid',
s.Sales_Total_Residul as 'Residul',
s.Sales_Notes as 'Notes'
 from Sales s,Customer c 
where s.Cust_ID=c.Cu_ID and Sales_ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[Sales_Select_Loan]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sales_Select_Loan]
as
select Sales_ID as 'ID',
c.Cu_Name as 'Customer',
Sales_Date as 'Date',
s.Sales_Notes as 'Notes',
s.Sales_Total_Paid as 'Paid',
s.Sales_Total_Residul as 'Residul',
s.Sales_Total_Amount as 'amount'
 from Sales s,Customer c 
where s.Cust_ID=c.Cu_ID and s.Sales_Total_Residul!=0 order by Sales_Date desc;
GO
/****** Object:  StoredProcedure [dbo].[Sales_Select_Loan_Customer]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sales_Select_Loan_Customer]
@id int
as
select Sales_ID as 'ID',
c.Cu_Name as 'Customer',
Sales_Date as 'Date',
s.Sales_Notes as 'Notes',
s.Sales_Total_Paid as 'Paid',
s.Sales_Total_Residul as 'Residul',
s.Sales_Total_Amount as 'amount'
 from Sales s,Customer c 
where s.Cust_ID=c.Cu_ID and s.Sales_Total_Residul!=0 and c.Cu_ID=@id order by Sales_Date desc;
GO
/****** Object:  StoredProcedure [dbo].[Sales_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sales_Select_Search]
@search nvarchar(50)
as
if(@search='')
select Sales_ID as 'ID',
Sales_Date as 'Date',
c.Cu_Name as 'Customer',
s.Sales_User_Added as 'User',
s.Sales_Count as 'Count',
s.Sales_Total as 'Total',
s.Sales_Total_Discount as 'Discount',
s.Sales_Total_Amount as 'amount',
s.Sales_Total_Paid as 'Paid',
s.Sales_Total_Residul as 'Residul',
s.Sales_Notes as 'Notes'
 from Sales s,Customer c 
where s.Cust_ID=c.Cu_ID order by Sales_Date desc;
else
select Sales_ID as 'ID',
Sales_Date as 'Date',
c.Cu_Name as 'Customer',
s.Sales_User_Added as 'User',
s.Sales_Count as 'Count',
s.Sales_Total as 'Total',
s.Sales_Total_Discount as 'Discount',
s.Sales_Total_Amount as 'amount',
s.Sales_Total_Paid as 'Paid',
s.Sales_Total_Residul as 'Residul',
s.Sales_Notes as 'Notes'
 from Sales s,Customer c 
where s.Cust_ID=c.Cu_ID and 
convert(nvarchar,CONVERT(date,Sales_Date))+c.Cu_Name+Sales_User_Added+Convert(nvarchar,Sales_Total_Discount)
+Sales_Total_Paid+Sales_Total_Residul+Sales_Total_Amount like '%'+@search+'%' order by Sales_Date desc;
GO
/****** Object:  StoredProcedure [dbo].[Sales_Select_Today]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sales_Select_Today]
@date date
as
select Sales_ID as 'ID',
Sales_Date as 'Date',
c.Cu_Name as 'Customer',
s.Sales_User_Added as 'User',
s.Sales_Count as 'Count',
s.Sales_Total as 'Total',
s.Sales_Total_Discount as 'Discount',
s.Sales_Total_Amount as 'amount',
s.Sales_Total_Paid as 'Paid',
s.Sales_Total_Residul as 'Residul',
s.Sales_Notes as 'Notes'
 from Sales s,Customer c 
where s.Cust_ID=c.Cu_ID and
  convert(date,Sales_Date)=@date order by Sales_Date desc;
GO
/****** Object:  StoredProcedure [dbo].[Sales_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sales_Update]
@Sales_ID int,@Sales_Count int,@Sales_Paid nvarchar(50),@Sales_Amount nvarchar(50),@Sales_Total nvarchar(50)
as
update Sales set Sales_Count = Sales_Count + @Sales_Count
				,Sales_Total_Paid =CONVERT(nvarchar(50), (convert(money,Sales_Total_Paid) + convert(money,@Sales_Paid)))
				,Sales_Total_Amount = CONVERT(nvarchar(50), (convert(money,Sales_Total_Amount) + convert(money,@Sales_Amount)))
				,Sales_Total = CONVERT(nvarchar(50), (convert(money,Sales_Total) + convert(money,@Sales_Total)))
where Sales_ID=@Sales_ID
GO
/****** Object:  StoredProcedure [dbo].[Sc_Name_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sc_Name_Add]
@Name nvarchar(50),@Description nvarchar(100),@Status bit
as
insert into Sceintific_Name(Sn_ID,Sn_Name,Sn_Status,Sn_Description) values((select ISNULL(MAX(Sn_ID)+1,1) from Sceintific_Name),@Name,@Status,@Description);
return
GO
/****** Object:  StoredProcedure [dbo].[Sc_Name_delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Sc_Name_delete]
@id int
as
delete from Sceintific_Name where Sn_ID=@id;
return
GO
/****** Object:  StoredProcedure [dbo].[Sc_Name_Search_ComboBox]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Sc_Name_Search_ComboBox]
as
select Sn_ID as 'ID',
Sn_Name as 'Name',
Sn_Description as 'Description',
Sn_Status as 'State' from Sceintific_Name where Sn_Status=1;
GO
/****** Object:  StoredProcedure [dbo].[Sc_Name_Search_Select]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sc_Name_Search_Select]
@Search nvarchar(50)
as
if(@Search='')
select Sn_ID as 'ID',
 Sn_Name as 'Name',
Sn_Description as 'Description',
Sn_Status as 'State' from Sceintific_Name;
else
select Sn_ID as 'ID',
Sn_Name as 'Name',
Sn_Description as 'Description',
Sn_Status as 'State' from Sceintific_Name where Sn_Name like '%'+@Search+'%';
return
GO
/****** Object:  StoredProcedure [dbo].[Sc_Name_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sc_Name_Update]
@Name nvarchar(50),@Description nvarchar(100),@Status bit,@id int
as
update  Sceintific_Name set Sn_Name=@Name,Sn_Status=@Status,Sn_Description=@Description where Sn_ID=@id;
return
GO
/****** Object:  StoredProcedure [dbo].[Sc_Name_Validate_Name]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Sc_Name_Validate_Name]
@Name nvarchar(50)
as
select Sn_Name from Sceintific_Name where Sn_Name=@Name;
GO
/****** Object:  StoredProcedure [dbo].[Stack_Delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Stack_Delete]
@ID int,@exp datetime
as
delete from ExpAndQty where Ex_ID=@ID and Ex_Date = convert(datetime,@exp);
GO
/****** Object:  StoredProcedure [dbo].[Stack_Select]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Stack_Select]
@Search nvarchar(50)
as
if(@Search='')

SELECT ex.Ex_ID as 'ID'
	  ,[P_Name] as 'Name'
	  ,[Barcode] as 'Barcode'
	  ,ex.Qty as 'quntity'
     ,convert(datetime,ex.Ex_Date) as 'Expired Date'
      ,sup.Su_Name as 'Supplier'
      ,[buyPrice] as 'Buy Price'
      ,[sellPrice] as 'Sell Price'
      ,[P_Filling] as 'Filling'
      ,[P_Filling_Price] as 'Filling Price'
      ,c.Cat_Name as 'Categories'
      ,s.Sn_Name as 'Scientfic Name'
      ,pc.Com_Name as 'Producer Company'
      ,[P_Description] as 'Description'
      ,[P_active] as 'State'
 
  FROM 
  Products p,
  Categories c,
  Sceintific_Name s,
  Producer_Company pc,
  ExpAndQty ex,
  Suppliers sup
where p.Cat_ID=c.Cat_ID and p.Com_ID=pc.Com_ID and p.Sn_ID=s.Sn_ID and p.P_ID=ex.P_ID and ex.Supplier_ID=sup.Su_ID

else

SELECT ex.Ex_ID as 'ID'
	  ,[P_Name] as 'Name'
	  ,[Barcode] as 'Barcode'
	  ,ex.Qty as 'quntity'
     ,convert(datetime,ex.Ex_Date) as 'Expired Date'
      ,sup.Su_Name as 'Supplier'
      ,[buyPrice] as 'Buy Price'
      ,[sellPrice] as 'Sell Price'
      ,[P_Filling] as 'Filling'
      ,[P_Filling_Price] as 'Filling Price'
      ,c.Cat_Name as 'Categories'
      ,s.Sn_Name as 'Scientfic Name'
      ,pc.Com_Name as 'Producer Company'
      ,[P_Description] as 'Description'
      ,[P_active] as 'State'
 
  FROM 
  Products p,
  Categories c,
  Sceintific_Name s,
  Producer_Company pc,
  ExpAndQty ex,
  Suppliers sup
where
p.Cat_ID=c.Cat_ID 
and p.Com_ID=pc.Com_ID 
and p.Sn_ID=s.Sn_ID 
and p.P_ID=ex.P_ID 
and ex.Supplier_ID=sup.Su_ID
and P_Name+P_Description+Barcode+c.Cat_Name+s.Sn_Name+pc.Com_Name Like  '%'+@Search+'%'

GO
/****** Object:  StoredProcedure [dbo].[Stack_Select_ID]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Stack_Select_ID]
@ID int
as
SELECT ex.Ex_ID as 'ID'
	  ,[P_Name] as 'Name'
	  ,[Barcode] as 'Barcode'
	  ,ex.Qty as 'quntity'
      ,convert(Date,ex.Ex_Date) as 'Expired Date'
      ,sup.Su_Name as 'Supplier'
      ,[buyPrice] as 'Buy Price'
      ,[sellPrice] as 'Sell Price'
      ,[P_Filling] as 'Filling'
      ,[P_Filling_Price] as 'Filling Price'
      ,c.Cat_Name as 'Categories'
      ,s.Sn_Name as 'Scientfic Name'
      ,pc.Com_Name as 'Producer Company'
      ,[P_Description] as 'Description'
      ,[P_active] as 'State'
 
  FROM Products p,Categories c,Sceintific_Name s,Producer_Company pc,ExpAndQty ex,Suppliers sup
where p.Cat_ID=c.Cat_ID and p.Com_ID=pc.Com_ID and p.Sn_ID=s.Sn_ID and p.P_ID=ex.P_ID and ex.Supplier_ID=sup.Su_ID and ex.Ex_ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[Suppliers_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Suppliers_Add]
@name nvarchar(30),@phone nvarchar(30),@city int
as
insert into Suppliers(Su_ID,Su_Name,Su_Phone,city_ID) values((select ISNULL(MAX(Su_ID)+1,1) from Suppliers),@name,@phone,@city);
GO
/****** Object:  StoredProcedure [dbo].[Suppliers_Delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Suppliers_Delete]
@ID int
as
delete from Suppliers where Su_ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[Suppliers_Select_Search]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Suppliers_Select_Search]
@search nvarchar(30)
as
if(@search='')
select Su_ID as 'ID',
Su_Name as 'Name',
Su_Phone as 'Phone',
c.City_Name as 'City',
co.Country_Name as 'Country' from Suppliers s,Cities c,Countries co 
where s.city_ID=c.City_ID and c.Country_ID=co.Country_ID;
else
select Su_ID as 'ID',
Su_Name as 'Name',
Su_Phone as 'Phone',
c.City_Name as 'City',
co.Country_Name as 'Country' from Suppliers s,Cities c,Countries co 
where s.city_ID=c.City_ID and c.Country_ID=co.Country_ID and s.Su_Name like '%'+@search+'%';
GO
/****** Object:  StoredProcedure [dbo].[Suppliers_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Suppliers_Update]
@ID int,@name nvarchar(30),@phone nvarchar(30),@city int
as
update Suppliers set Su_Name=@name,Su_Phone=@phone,city_ID=@city where Su_ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[Suppliers_Validate]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Suppliers_Validate]
@name nvarchar(30)
as
select * from Suppliers where Su_Name=@name
GO
/****** Object:  StoredProcedure [dbo].[Users_Add]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Users_Add]
@name nvarchar(30),@pass nvarchar(60),@full_name nvarchar(30),@Per_ID int
as
insert into Users(U_ID,U_Name,U_Pass,U_Full_Name,Per_ID) 
values((select ISNULL(MAX(U_ID)+1,1) from Users),@name,@pass,@full_name,@Per_ID)
GO
/****** Object:  StoredProcedure [dbo].[Users_Delete]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Users_Delete]
@ID int
as
delete from Users where U_ID=@ID;
return;
GO
/****** Object:  StoredProcedure [dbo].[Users_Select]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Users_Select]
as
select U_ID as 'ID',
U_Name as 'Name',
U_Full_Name as 'Full Name',
U_Pass as 'Password',
p.Per_Name as 'Type'
 from [Users] s,[Permissions] p where s.Per_ID=p.Per_ID
 return
GO
/****** Object:  StoredProcedure [dbo].[Users_Update]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Users_Update]
@ID int,@name nvarchar(30),@pass nvarchar(60),@full_name nvarchar(30),@Per_ID int
as
update Users set U_Name=@name,U_Pass=@pass,U_Full_Name=@full_name,Per_ID=@Per_ID where U_ID=@ID;
return;
GO
/****** Object:  StoredProcedure [dbo].[Users_validate]    Script Date: 3/10/2020 10:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Users_validate]
@name nvarchar(30),@fullname nvarchar(30)
as
select * from Users where U_Name=@name or U_Full_Name=@fullname
GO
USE [master]
GO
